body{
  padding: 20px 0;
  margin: 0px ;
   font-family: sans-serif;
   line-height: 25px;
}
.images{
  width: 100%;
}
.slider{
  position: absolute;
  left:580px;
  top:490px;
}
.sale{
  position: absolute;
  right: 350px;
  margin-top: 260px;
  background: #a7cce8;
  width: 150px;
  border: 1px solid white;
  height: 40px;
  color: white;
}
.sale:hover{
  background-color:#87c0eb;
}
.menu{
  text-align: center;
 width: 50px;
  border: 1px solid black;
  margin: auto;
  font-size: 30px;
  padding: 5px;
}
form .search{
  position: absolute;
  top:20px;
  right: 250px;
}
form .s{
  position: absolute;
  top:20px;
  right: 270px;
 display: none;
}
.se:hover .s {
  display: inline;
}
.fashion{
  text-align: center;
  letter-spacing:3px;
  font-size:12px;
  padding: 15px;
}
.links{
  display:inline;
  text-align: center;
}
.links>p{
  background-color:rgb(237, 237, 237);
  margin-bottom: 0;
}
.links>p>a{
    text-decoration: none;
    padding: 15px;
    color:black;
}
.center{
 text-align: center;
}
.company .center>hr{
  margin: -10px 450px 0 ;
}
.company{
  margin: 0px 160px;
}
.insta{
    border: 1px solid black;
    width:570px;
}
.insta .instaimage{
  float: right;
  height: 220px;
}
.small-menu{
  text-align: center;
  width: 30px;
  border: 1px solid black;
  font-size: 15px;
  padding: 2px;
  margin-left: 20px;
  margin-top: 20px;
  line-height:1.0;
}
.link{
  padding-left:70px;
}
.link>hr{
margin-right:470px;
margin-left: 0px;
margin-top: -10px;
}
.link .link1{
  font-size: 20px;
}
.link .link2{
  font-size: 15px;
}
.link .link2>a{
  font-style: italic;
  text-decoration: none;
  color: black;
}
.column{
  display: inline-block;
  margin-top: 30px;
}
.mail{
  float: right;
}
.mail>hr{
  margin-right: 315px;
  margin-bottom: 20px;
}
.mail .email{
  border: 1px solid black;
  background-color:rgb(239, 240, 241);
  width: 330px;
  height: 165px;
  padding-left: 20px;
}
form p{
margin: 30px 20px;
}
.mail>span{
 font-size: 20px;
}
.mail .email .b{
  width: 260px;
  height: 30px;
  border: none;
  border-bottom: 1px solid black;
}
.mail .email .b1{
  background: white;
  width: 260px;
  border: 1px solid black;
  height: 40px;
}
.mail .email .b1:hover{
  background-color:rgb(226, 231, 232);
}
footer{
    padding-top: 80px;
}
footer section hr{
  width: 220px;
  margin-top: 30px;
  margin-left: -20px;
}
footer section{
  display: inline-block;
  vertical-align: top;
  padding:0 20px ;
}
footer section p{
  font-size: 15px;
    line-height:1.0;
}
footer section p a{
  text-decoration: none;
  color: black;
}
footer .social{
  margin-left: 170px;
  margin-top: 30px;
}
footer .social .in{
  width: 17px;
  height: 17px;
 background: url("images/inst.png") no-repeat;
}
footer .social .fb{
  width: 17px;
  height: 17px;
 background: url("images/fb.png") no-repeat;
}
footer .social a{
  padding:0 20px ;
}
.copyright{
  padding-left: 270px;
  padding-top: 20px;
  font-size: 13px;
  font-weight: bold;
}
